<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">Copyright © abc School 2025</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
                <div class="mt-2">
                    <a href="#" class="text-white me-3 small">Privacy Policy</a>
                    <a href="#" class="text-white small">Terms of use</a>
                </div>
            </div>
        </div>
    </div>
</footer>